<%= form_for @man_test do |f| %>
    <h3>
      <%= f.label "What car would you prefer to drive?" %><br>

      <%= f.radio_button :score, 1 %>
      <%= f.label :score, "Old Pick-Up", value: 1 %><br>

      <%= f.radio_button :score, 1 %>
      <%= f.label :score, "New Pick-Up", value: 1 %><br>

      <%= f.radio_button :score, 1 %>
      <%= f.label :score, "Anything With Four Weel Drive", value: 1 %><br>

      <%= f.radio_button :score, 0 %>
      <%= f.label :score, "Mini Cooper", value: 0  %><br>

      <%= f.radio_button :score, 1 %>
      <%= f.label :score, "Tesla", value: 1 %><br>
    </h3>
      <div class="text-center">
        <%= f.submit "Confirm I'm a Man", class: "btn-boring" %>
      </div>
    </h3>
<% end %>
