<%= content_for :page_title, @recipe.name %>
<% set_meta_tags description: 'Mmmm, this recipe sounds so good I can almost smell it grilling already.',
                 keywords: 'recipe, yum, BBQ, barbecue, manly, art',
				 site: 'The Manly Art of BBQ' %>
<%= content_for :head do %>
    <meta name="description" content="<%= @recipe.teaser %>" />
    <meta property="og:url" content="<%= polymorphic_url(@recipe) %>" />
    <meta property="og:type" content="article" />
    <meta property="og:title" content="<%= @recipe.name %>" />
    <meta property="og:description" content="<%= @recipe.teaser %>" />
    <meta property="og:image" content="<%= rails_blob_url(@recipe.photo) if @recipe.photo.attached? %>" />
<% end %>


<div class="text-right" style="width: 100%; overflow: hidden; direction: rtl; z-index: 0 !important; position: relative">
  <%= image_tag 'background_recipe_show.jpg', style: "height: 100vh; mid-width: 100%" %>
</div>
<div class="col-xs-push-1 col-xs-10 col-md-6 transparent-box" style="overflow: scroll; margin-top: -85vh; height: 80vh; margin-bottom: 0px; padding-left: 30px; padding-right: 30px; position: relative; z-index: 100 !important">

    <h1 class="text-center"><%= @recipe.name %><h1>
    <h4 class="text-center"><%= @recipe.teaser %></h4>
    <div class="text-center" style="padding-bottom: 25px"><div class="fb-share-button"
      data-href="<%= polymorphic_url(@recipe) %>"
      data-layout="button_count">
    </div></div>
    <div class="text-center">
      <%= image_tag url_for(@recipe.photo), style: "max-width: 50%; max-height: 200px;" %>
    </div>
    <h3 class="text-center">
      <% if @recipe.beef %>
        Beef.
      <% end %>
      <% if @recipe.chicken %>
        Chicken.
      <% end %>
      <% if @recipe.fish %>
        Fish.
      <% end %>
      <% if @recipe.other_meat %>
        Other Meats.
      <% end %>
      <% if @recipe.veggies %>
        Veggies.
      <% end %>
  </h3>
  <h3><strong><span style="font-family: 'Covered By Your Grace', cursive">From <%= @recipe.user.first_name %>'s Grilling Playbook</span></strong></h3>
  <%= raw(@recipe.instructions) %>

  <div class="text-center">
    <h4>
      <% if current_user && (current_user.admin || current_user == @recipe.user) %>
        <%= link_to "Edit Recipe", edit_recipe_path(@recipe) %> |
      <% end %>
      <%= link_to "Back", :back %> | <%= link_to "Recipe Home", home_bbq_path %>
    </h4>
  </div>

</div> <!-- transparent box -->
