<%= content_for :page_title, 'Jokes for Kids' %>
<% set_meta_tags description: 'Nothing beats hearing the sound of a child laughing and knowing you are the one that made it happen. These jokes will get you just that.',
                 keywords: 'jokes, kids, funny, safe, BBQ, barbecue, manly, art',
				 site: 'The Manly Art of BBQ' %>

<div class="animations">
  <%= image_tag "ballerino.png", class: "fixed hidden", id: "to-animate", style: "margin-top: 80px; width: 300px" %>
</div> <!-- animations -->

<div id='container'>
  <div id="group1">
    <div class="background">
      <div class="hero-image-row">
        <div class="hero-image-outer text-center">
          <div class="hero-image-inner text-center">
            <%= image_tag 'BackgroundKids.jpg', class: "hero-image",alt: "Guys laughing at an obviously hilarious joke while barbecuing." %>
          </div> <!-- hero-image-inner -->
        </div> <!-- hero-image-inner -->
      </div> <!-- row -->


      <div class="overlap-hero-image" style="margin-top: -185px !important; height: 185px">
        <div class="row">
          <div class="text-center">
            <h1 style="color: black">Kid Friendly Jokes</h1>
          </div> <!-- text-center -->
        </div> <!-- row -->
      </div> <!-- overlap-hero-image -->
    </div> <!-- background -->

    <div class="foreground">
      <div class="row transparent-box">
      	<div class="text-center col-xs-12">
         	 	 <h3 style="margin-top: 0px; font-weight: bolder">Looking for other jokes?<br>
             <div class="subnav">
               <div><%= link_to "For Men", otherjokes_men_path %></div> |
               <div><%= link_to "Mixed Company", otherjokes_mixed_path %></div> |
                Kids  |
               <div><%= link_to "Snappy Comebacks", otherjokes_comeback_path %></div>
             </div> <!-- subnav -->
           </div> <!-- other categories -->
      </div> <!-- row -->

      <div class="container" style="margin-top: 20px">
        <div class="joke-container">

          <%= render "jokes" %>

          <div class="text-center" style="height: 40px">
            <%= link_to "Submit a New Joke", new_joke_path, class: "hvr-grow btn-manly", style: "color: white" %>
          </div> <!-- text-center -->

        </div> <!-- joke container -->
      </div> <!-- container -->
      <%= render "layouts/footer" %>
    </div> <!-- foreground -->
  </div> <!-- id #parallax group 1 -->
</div> <!-- id #container -->

<script>
$(document).ready(function() {
  $(".js-downvote").on('click', function() {
    console.log('test')
    $('#to-animate').removeClass('hidden');
    window.location.reload(false);
    $('#to-animate').addClass('animation-left-to-right');
  });


})
</script>
