<%= content_for :page_title, 'Gifts for Babies' %>
<% set_meta_tags description: 'It is hard to shop for the tiniest among us. Here are some gifts that both babies and their sleep-deprived, bedraggled parents will enjoy.',
                 keywords: 'present, gift, baby, boy, girl, BBQ, barbecue, manly, art',
				 site: 'The Manly Art of BBQ' %>

<div style="height: 80px"></div>

<div class="container">
	<div class="text-center row" style="margin-bottom: 20px">
		<h1 style="font-size: 10vh">Gifts for Babies</h1>
		<p class="col-xs-10 col-xs-push-1 col-sm-8 col-sm-push-2 col-md-6 col-md-push-3">Small humans. Adorable, drooly, pre-verbal balls of trouble. Here's a man's guide to buying crap for the smallest among us.</p>
	</div> <!-- row -->

	<div class="row product-row">
		<div class="col-sm-3 text-center">
			<a href="https://www.amazon.com/gp/product/B00VURFCHI/ref=as_li_tl?ie=UTF8&camp=1789&creative=9325&creativeASIN=B00VURFCHI&linkCode=as2&tag=burnit-20&linkId=334310696afb0e9e1ba14aac5ba1e2cd">
				<img border="0" src="//ws-na.amazon-adsystem.com/widgets/q?_encoding=UTF8&MarketPlace=US&ASIN=B00VURFCHI&ServiceVersion=20070822&ID=AsinImage&WS=1&Format=_SL250_&tag=burnit-20" >
			</a>
		</div> <!-- image link -->
		<div class="col-sm-9">
			<a href="https://www.amazon.com/gp/product/B00VURFCHI/ref=as_li_tl?ie=UTF8&camp=1789&creative=9325&creativeASIN=B00VURFCHI&linkCode=as2&tag=burnit-20&linkId=334310696afb0e9e1ba14aac5ba1e2cd">
				<h3>Cookie Teethers</h3>
			</a>
			<p>It has been brought to our attention that these are called "teethers" not "chew toys". Good to know. Either way, these are perfect for small humans from 2 months (when they discover their hands and mouths) to 1 or 2 years (when they have all of their teeth). Bonus, they look like everyone's favorite cookie.</p>
			<p><span style="color: red; font-weight: bolder">
				Price: $11.97
			</span></p>
		</div> <!-- description -->
	</div> <!-- gift row -->

	<div class="row">
		<hr class="col-xs-6 col-xs-push-3">
	</div> <!-- hr row -->

	<div class="row product-row">
		<div class="col-sm-3 text-center">
			<a href="https://www.amazon.com/gp/product/B002C4L05Q/ref=as_li_tl?ie=UTF8&camp=1789&creative=9325&creativeASIN=B002C4L05Q&linkCode=as2&tag=burnit-20&linkId=eef1c2ec6e47ff7b11b1e0e1f855307c">
				<img border="0" src="//ws-na.amazon-adsystem.com/widgets/q?_encoding=UTF8&MarketPlace=US&ASIN=B002C4L05Q&ServiceVersion=20070822&ID=AsinImage&WS=1&Format=_SL250_&tag=burnit-20" >
			</a>
		</div> <!-- image link -->
		<div class="col-sm-9">
			<a href="https://www.amazon.com/gp/product/B002C4L05Q/ref=as_li_tl?ie=UTF8&camp=1789&creative=9325&creativeASIN=B002C4L05Q&linkCode=as2&tag=burnit-20&linkId=eef1c2ec6e47ff7b11b1e0e1f855307c">
				<h3>Baby Weights</h3>
			</a>
			<p>So they successfully wrangled you into going to the baby shower.  Point "them".  However, that doesn't mean you can't still get a manly gift. These are fun for the kid (because they do make noise) and fun for the parent (who will be taking billions of pictures of their progeny lifting weights in their crib). Win, win.</p>
			<p><span style="color: red; font-weight: bolder">
				Price: $23.00
			</span></p>
		</div> <!-- description -->
	</div> <!-- gift row -->

	<div class="row">
		<hr class="col-xs-6 col-xs-push-3">
	</div> <!-- hr row -->

	<div class="row product-row">
		<div class="col-sm-3 text-center">
			<a href="https://www.amazon.com/gp/product/B00AHO43BG/ref=as_li_tl?ie=UTF8&camp=1789&creative=9325&creativeASIN=B00AHO43BG&linkCode=as2&tag=burnit-20&linkId=aed351f4b9461d6a3260351d03defc9e">
				<img border="0" src="//ws-na.amazon-adsystem.com/widgets/q?_encoding=UTF8&MarketPlace=US&ASIN=B00AHO43BG&ServiceVersion=20070822&ID=AsinImage&WS=1&Format=_SL250_&tag=burnit-20" >
			</a>
		</div> <!-- image link -->
		<div class="col-sm-9">
			<a href="https://www.amazon.com/gp/product/B00AHO43BG/ref=as_li_tl?ie=UTF8&camp=1789&creative=9325&creativeASIN=B00AHO43BG&linkCode=as2&tag=burnit-20&linkId=aed351f4b9461d6a3260351d03defc9e">
				<h3>The Mustachifier</h3>
			</a>
			<p>Very little can be said here other than we dare you not to laugh at the picture. You wanted cool uncle points? You got 'em with this one.</p>
			<p><span style="color: red; font-weight: bolder">
				Price: $9.95
			</span></p>
		</div> <!-- description -->
	</div> <!-- gift row -->

	<div class="row">
		<hr class="col-xs-6 col-xs-push-3">
	</div> <!-- hr row -->

	<div class="row product-row">
		<div class="col-sm-3 text-center">
			<a href="https://www.amazon.com/gp/product/B00ZUPXBUG/ref=as_li_tl?ie=UTF8&camp=1789&creative=9325&creativeASIN=B00ZUPXBUG&linkCode=as2&tag=burnit-20&linkId=a1de1aa1f1acb21a5a77a87f74ae2b46">
				<img border="0" src="//ws-na.amazon-adsystem.com/widgets/q?_encoding=UTF8&MarketPlace=US&ASIN=B00ZUPXBUG&ServiceVersion=20070822&ID=AsinImage&WS=1&Format=_SL250_&tag=burnit-20" >
			</a>
		</div> <!-- image link -->
		<div class="col-sm-9">
			<a href="https://www.amazon.com/gp/product/B00ZUPXBUG/ref=as_li_tl?ie=UTF8&camp=1789&creative=9325&creativeASIN=B00ZUPXBUG&linkCode=as2&tag=burnit-20&linkId=a1de1aa1f1acb21a5a77a87f74ae2b46">
				<h3>Tactical Diaper Bag</h3>
			</a>
			<p>Just because he's becoming a dad, doesn't mean he has to surrender to carrying a diaper bag with little giraffes on it. Help him keep his mancard punch-free with this fully-loaded, tactical diaper bag.  (<em>Caution: This item does involve a "heavy doodie" pun. Be forewarned.</em>)</p>
			<p><span style="color: red; font-weight: bolder">
				Price: $135.00
			</span></p>
		</div> <!-- description -->
	</div> <!-- gift row -->
</div> <!-- container -->

<div class="row text-center transparent-box" style="margin-top: 40px">
	<h3><strong>Need gifts for someone else?
	<br>Babies | <%= link_to "Kids", gifts_kids_path %> | <%= link_to "Teens", gifts_teens_path %> | <%= link_to "Adults", gifts_adults_path %></strong></h3>
</div> <!-- other page links -->

<%= render "layouts/footer" %>
