<%= content_for :page_title, 'Gifts for Kids' %>
<% set_meta_tags description: 'Be the coolest uncle around the Christmas tree. Great gifts for kids are only a click away.',
                 keywords: 'gift, present, kid, boy, girl, BBQ, barbecue, manly, art',
				 site: 'The Manly Art of BBQ' %>

<div style="height: 80px"></div>

<div class="container">
	<div class="text-center row" style="margin-bottom: 20px">
		<h1 style="font-size: 10vh">Gifts for Kids</h1>
		<p class="col-xs-10 col-xs-push-1 col-sm-8 col-sm-push-2 col-md-6 col-md-push-3">From little ones to almost-teens, nothing brings a smile to a child's face like more material crap to cram into their room.  This stuff, however, is guaranteed to go to the top of the favorites list, not the back of the closet next to the satanic Furby.</p>
	</div> <!-- row -->

	<div class="row product-row">
		<div class="col-sm-3 text-center">
			<a href="https://www.amazon.com/gp/product/B001404UMO/ref=as_li_tl?ie=UTF8&camp=1789&creative=9325&creativeASIN=B001404UMO&linkCode=as2&tag=burnit-20&linkId=4a98d62f841719cbdd80d6fce428dbe6">
				<img border="0" src="//ws-na.amazon-adsystem.com/widgets/q?_encoding=UTF8&MarketPlace=US&ASIN=B001404UMO&ServiceVersion=20070822&ID=AsinImage&WS=1&Format=_SL250_&tag=burnit-20" >
			</a>
		</div> <!-- image link -->
		<div class="col-sm-9">
			<a href="https://www.amazon.com/gp/product/B001404UMO/ref=as_li_tl?ie=UTF8&camp=1789&creative=9325&creativeASIN=B001404UMO&linkCode=as2&tag=burnit-20&linkId=4a98d62f841719cbdd80d6fce428dbe6">
				<h3>Child Bench Press</h3>
			</a>
			<p>If the parents are into fitness, this will be the biggest hit of the season. This way kids get to workout with mom/dad on equipment all their own. Bonus points: the parents get to work out too. You're welcome.</p>
			<p><span style="color: red; font-weight: bolder">
				Price: $85.94
			</span></p>
		</div> <!-- description -->
	</div> <!-- gift row -->

	<div class="row">
		<hr class="col-xs-6 col-xs-push-3">
	</div> <!-- hr row -->

	<div class="row product-row">
		<div class="col-sm-3 text-center">
			<a href="https://www.amazon.com/gp/product/B01DZK37WY/ref=as_li_tl?ie=UTF8&camp=1789&creative=9325&creativeASIN=B01DZK37WY&linkCode=as2&tag=burnit-20&linkId=4f62ead7ec44918bf31e4d3cfa5dc26e">
				<img border="0" src="//ws-na.amazon-adsystem.com/widgets/q?_encoding=UTF8&MarketPlace=US&ASIN=B01DZK37WY&ServiceVersion=20070822&ID=AsinImage&WS=1&Format=_SL250_&tag=burnit-20" >
			</a>
		</div> <!-- image link -->
		<div class="col-sm-9">
			<a href="https://www.amazon.com/gp/product/B01DZK37WY/ref=as_li_tl?ie=UTF8&camp=1789&creative=9325&creativeASIN=B01DZK37WY&linkCode=as2&tag=burnit-20&linkId=4f62ead7ec44918bf31e4d3cfa5dc26e">
				<h3>Best Nightlight Ever</h3>
			</a>
			<p>This LED projector puts a Pink Floyd-worthy night sky onto a child's ceiling. Functional as a nightlight, yet cool enough to fully distract even the parents among us.</p>
			<p><span style="color: red; font-weight: bolder">
				Price: $19.95
			</span></p>
		</div> <!-- description -->
	</div> <!-- gift row -->

	<div class="row">
		<hr class="col-xs-6 col-xs-push-3">
	</div> <!-- hr row -->

	<div class="row product-row">
		<div class="col-sm-3 text-center">
			<a href="https://www.amazon.com/gp/offer-listing/B01DB9B4D8/ref=as_li_tl?ie=UTF8&camp=1789&creative=9325&creativeASIN=B01DB9B4D8&linkCode=am2&tag=burnit-20&linkId=4bcaad6650f8bb006e4ed1a58e01ff20">
				<img border="0" src="//ws-na.amazon-adsystem.com/widgets/q?_encoding=UTF8&MarketPlace=US&ASIN=B01DB9B4D8&ServiceVersion=20070822&ID=AsinImage&WS=1&Format=_SL250_&tag=burnit-20" >
			</a>
		</div> <!-- image link -->
		<div class="col-sm-9">
			<a href="https://www.amazon.com/gp/offer-listing/B01DB9B4D8/ref=as_li_tl?ie=UTF8&camp=1789&creative=9325&creativeASIN=B01DB9B4D8&linkCode=am2&tag=burnit-20&linkId=4bcaad6650f8bb006e4ed1a58e01ff20">
				<h3>Money Maze Puzzle Box</h3>
			</a>
			<p>Still don't know what they'd like? Give money the fun way. The recipient has to maneuver a ball through a maze to release their gift. Give the gift of money and entertainment (and amusement...for yourself as you watch them frantically attempting to release their gift).</p>
			<p><span style="color: red; font-weight: bolder">
				Price: $9.99
			</span></p>
		</div> <!-- description -->
	</div> <!-- gift row -->

	<div class="row">
		<hr class="col-xs-6 col-xs-push-3">
	</div> <!-- hr row -->

	<div class="row product-row">
		<div class="col-sm-3 text-center">
			<a href="https://www.amazon.com/gp/product/B01H86I12M/ref=as_li_tl?ie=UTF8&camp=1789&creative=9325&creativeASIN=B01H86I12M&linkCode=as2&tag=burnit-20&linkId=bae11a4fad2459d1aafba6505946898b">
				<img border="0" src="//ws-na.amazon-adsystem.com/widgets/q?_encoding=UTF8&MarketPlace=US&ASIN=B01H86I12M&ServiceVersion=20070822&ID=AsinImage&WS=1&Format=_SL250_&tag=burnit-20" >
			</a>
		</div> <!-- image link -->
		<div class="col-sm-9">
			<a href="https://www.amazon.com/gp/product/B01H86I12M/ref=as_li_tl?ie=UTF8&camp=1789&creative=9325&creativeASIN=B01H86I12M&linkCode=as2&tag=burnit-20&linkId=bae11a4fad2459d1aafba6505946898b">
				<h3>Mermaid Tail Blanket</h3>
			</a>
			<p>Ever notice that kids are cold, like, all the time? Fix the cold problem with a blanket they'll actually get excited about using.</p>
			<p><span style="color: red; font-weight: bolder">
				Price: $21.38
			</span></p>
		</div> <!-- description -->
	</div> <!-- gift row -->
</div> <!-- container -->

<div class="row text-center transparent-box" style="margin-top: 40px">
	<h3><strong>Need gifts for someone else?
		<br><%= link_to "Babies", gifts_babies_path %> | Kids | <%= link_to "Teens", gifts_teens_path %> | <%= link_to "Adults", gifts_adults_path %></strong></h3>
</div> <!-- other page links -->

<%= render "layouts/footer" %>
