<%= content_for :page_title, 'Chicken Recipes' %>
<% set_meta_tags description: 'Here are a variety of recipes to make amazing chicken on the grill. Tie on an apron and get cooking.',
                 keywords: 'chicken, recipe, grill, grilling, BBQ, barbecue, manly, art',
				 site: 'The Manly Art of BBQ' %>

 <div id='container'>
   <div id="group1">
     <div class="background">
      <div class="hero-image-row">
        <div class="hero-image-outer text-center">
          <div class="hero-image-inner text-center">
            <%= image_tag 'background_chicken.jpg', class: "hero-image",alt: "Guys laughing at an obviously hilarious joke while barbecuing." %>
          </div> <!-- hero-image-inner -->
        </div> <!-- hero-image-inner -->
      </div> <!-- row -->

      <div class="overlap-hero-image" style="margin-top: -325px !important; height: 325px">
        <div class="row">
          <div class="text-center">
            <h1 style="margin-bottom: 50px !important">Bwak bwak bwak-a!</h1>
            <%= link_to "Submit a New Recipe", new_recipe_path, class: "hvr-grow btn-ghost" %>
            <h4 style="margin-top: 25px"><%= link_to "Back to Recipes Home", principles_recipes_path, style: "color: white" %></h4>
          </div> <!-- text-center -->
        </div> <!-- row -->
      </div> <!-- overlap-hero-image -->
    </div> <!-- background -->

    <div class="foreground">

      <div class="row transparent-box">
        <div class="text-center col-xs-12">
             <h3 style="margin-top: 0px; font-weight: bolder">Looking for other recipes?<br>
             <%= link_to "Beef", other_recipes_beef_path %> | Chicken | <%= link_to "Fish", other_recipes_fish_path %> | <%= link_to "Other Meat", other_recipes_other_meat_path %> | <%= link_to "Veggies", other_recipes_veggies_path %>
        </div> <!-- other categories -->
      </div> <!-- row -->

      <div class="container" style="margin-top: 25px">

        <div class="joke-container">

          <%= render "recipes" %>

          <div class="text-center">
            <%= link_to "Submit a New Recipe", new_recipe_path, class: "hvr-grow btn-manly", style: "color: white" %>
          </div> <!-- text-center -->

        </div> <!-- joke container -->
      </div> <!-- container -->
      <%= render "layouts/footer" %>
    </div> <!-- foreground -->
  </div> <!-- id #parallax group 1 -->
</div> <!-- id #container -->
