<%= content_for :page_title, 'BBQ School' %>
<% set_meta_tags description: 'Welcome to barbecue school. Whether you are a novice or a master, grab a pen, take a seat, and get ready for some knowledge.',
                 keywords: 'school, tips, how to, grill, grilling, BBQ, barbecue, manly, art',
				 site: 'The Manly Art of BBQ' %>

<div class="visible-xs visible-sm" style="height: 50px"></div>

<%= image_tag "bbq_school.jpg", style: "width: 100%" %>

<div class="container bbq-school">

	<div class="row hidden-md hidden-lg">
		<hr class="col-xs-6 col-xs-push-3">
	</div> <!-- row -->

	<div class="row">
		<div class="text-center levels">
				<h2 class="block-font">Barbecue Skills</h2>

        <div class="row">
          <div class="container">
            <div class="card-outer col-xs-12 col-sm-4">
              <div class="card card1 col-xs-12">
                <h2><%= link_to "Intro to BBQ", principles_intro_path %></h2>
              </div> <!-- inner card -->
            </div> <!-- outer card -->

            <div class="card-outer col-xs-12 col-sm-4">
              <div class="card card1 col-xs-12">
                <h2><%= link_to "The Next Level", principles_intermediate_path %></h2>
              </div> <!-- inner card -->
            </div> <!-- outer card -->

            <div class="card-outer col-xs-12 col-sm-4">
              <div class="card card1 col-xs-12">
                <h2><%= link_to "BBQ for Masters", principles_advanced_path %></h2>
              </div> <!-- inner card -->
            </div> <!-- outer card -->
          </div> <!-- container -->
        </div> <!-- row -->

		</div> <!-- levels -->

    <div class="row">
			<hr class="col-xs-6 col-xs-push-3">
    </div>

		<div class="text-center meats"> <!-- meats -->
				<h2 class="block-font">Tips by Meat Type</h2>

        <div class="card-outer col-xs-12 col-sm-4">
          <div class="card card2 col-xs-12 doodle">
            <%= link_to principles_beef_path do %>
  						<%= image_tag "doodle_beef.jpg", class: "hvr-grow", alt: "doodled picture of steak" %>
  						<h2>Beef</h2>
              <p>Why are cows so tasty?</p>
  					<% end %>
          </div> <!-- inner card -->
        </div> <!-- outer card -->

        <div class="card-outer col-xs-12 col-sm-4">
          <div class="card card2 col-xs-12 doodle">
            <%= link_to principles_steak_path do %>
  						<%= image_tag "doodle_steak.jpg", class: "hvr-grow", alt: "doodled picture of beef" %>
  						<h2>Steak</h2>
              <p>The most important type of beef.</p>
  					<% end %>
          </div> <!-- inner card -->
        </div> <!-- outer card -->

        <div class="card-outer col-xs-12 col-sm-4">
          <div class="card card2 col-xs-12 doodle">
            <%= link_to principles_chicken_path do %>
  						<%= image_tag "doodle_chicken.jpg", class: "hvr-grow", alt: "doodled picture of chicken" %>
  						<h2>Chicken</h2>
              <p>What everything else tastes like.</p>
  					<% end %>
          </div> <!-- inner card -->
        </div> <!-- outer card -->

        <div class="card-outer col-xs-12 col-sm-4">
          <div class="card card2 col-xs-12 doodle">
            <%= link_to principles_pork_path do %>
  						<%= image_tag "doodle_pork", class: "hvr-grow", alt: "doodled picture of pork" %>
  						<h2>Pork</h2>
              <p>The rest of the bacon plant.</p>
  					<% end %>
          </div> <!-- inner card -->
        </div> <!-- outer card -->

        <div class="card-outer col-xs-12 col-sm-4">
          <div class="card card2 col-xs-12 doodle">
            <%= link_to principles_fish_path do %>
  						<%= image_tag "doodle_fish.jpg", class: "hvr-grow", alt: "doodled picture of fish" %>
  						<h2>Fish</h2>
              <p>Les poisson, les poisson...</p>
  					<% end %>
          </div> <!-- inner card -->
        </div> <!-- outer card -->

        <div class="card-outer col-xs-12 col-sm-4">
          <div class="card card2 col-xs-12 doodle">
            <%= link_to principles_veggies_path do %>
  						<%= image_tag "doodle_veggie.jpg", class: "hvr-grow", alt: "doodled picture of fish" %>
  						<h2>Veggies</h2>
              <p>The other end of the food chain.</p>
  					<% end %>
          </div> <!-- inner card -->
        </div> <!-- outer card -->

      </div> <!-- meats -->
    </div> <!-- container -->
  </div> <!-- row -->

	</div> <!-- content row -->

	<div class="row">
		<hr class="col-xs-6 col-xs-push-3">
	</div> <!-- row -->

</div> <!-- page container -->

<%= render 'layouts/footer' %>

<script>
  $( document ).ready(function() {
  	$('.card1').matchHeight();
    $('.card2').matchHeight();
  });
</script>
