<%= content_for :page_title, 'BBQ School' %>
<% set_meta_tags description: 'Welcome to barbecue school. Whether you are a novice or a master, grab a pen, take a seat, and get ready for some knowledge.',
                 keywords: 'school, tips, how to, grill, grilling, BBQ, barbecue, manly, art',
				 site: 'The Manly Art of BBQ' %>

<div class="visible-xs visible-sm" style="height: 50px"></div>

<%= image_tag "bbq_school.jpg", style: "width: 100%" %>

<div class="container bbq-school">

	<div class="row hidden-md hidden-lg">
		<hr class="col-xs-6 col-xs-push-3">
	</div> <!-- row -->

	<div class="row">
		<div class="text-center levels">
				<h2 class="block-font">Barbecue Skills</h2>
				<h1 class="col-sm-4">
					<%= link_to principles_intro_path, class: "block-font hvr-grow" do %>
						Intro to <br class="visible-sm">BBQ
					<% end %>
				</h1>
				<h1 class="col-sm-4">
					<%= link_to principles_intermediate_path, class: "block-font hvr-grow" do %>
						The Next <br class="visible-sm">Level
					<% end %>
				</h1>
				<h1 class="col-sm-4">
					<%= link_to principles_advanced_path, class: "block-font hvr-grow" do %>
						BBQ for <br class="visible-sm">Masters
					<% end %>
				</h1>
		</div> <!-- levels -->

    <div class="row">
			<hr class="col-xs-6 col-xs-push-3">
    </div>

		<div class="text-center meats"> <!-- meats -->
				<h2 class="block-font">Tips by Meat Type</h2>

        <div class="col-sm-2 col-sm-push-1 doodle">
					<%= link_to principles_beef_path do %>
						<%= image_tag "doodle_beef.jpg", class: "hvr-grow", alt: "doodled picture of steak" %>
						<h3>Beef</h3>
					<% end %>
				</div> <!-- beef -->

				<div class="col-sm-2 col-sm-push-1 doodle">
					<%= link_to principles_steak_path do %>
						<%= image_tag "doodle_steak.jpg", class: "hvr-grow", alt: "doodled picture of beef" %>
						<h3>Steak</h3>
					<% end %>
				</div> <!-- beef -->

				<div class="col-sm-2 col-sm-push-1 doodle">
					<%= link_to principles_chicken_path do %>
						<%= image_tag "doodle_chicken.jpg", class: "hvr-grow", alt: "doodled picture of chicken" %>
						<h3>Chicken</h3>
					<% end %>
				</div> <!-- Chicken -->

				<div class="col-sm-2 col-sm-push-1 doodle">
					<%= link_to principles_pork_path do %>
						<%= image_tag "doodle_pork", class: "hvr-grow", alt: "doodled picture of pork" %>
						<h3>Pork</h3>
					<% end %>
				</div> <!-- pork -->

				<div class="col-sm-2 col-sm-push-1 doodle">
					<%= link_to principles_fish_path do %>
						<%= image_tag "doodle_fish.jpg", class: "hvr-grow", alt: "doodled picture of fish" %>
						<h3>Fish</h3>
					<% end %>
				</div> <!-- fish -->
		</div> <!-- meats -->
	</div> <!-- content row -->

	<div class="row">
		<hr class="col-xs-6 col-xs-push-3">
	</div> <!-- row -->

</div> <!-- page container -->

<%= render 'layouts/footer' %>
