<%= content_for :page_title, @product.name %>
<% set_meta_tags description: 'Nothing says certified griller like some Manly Art of BBQ swag.',
  keywords: 'apron, glove, spatula, tongs, gear, supplies, buy, BBQ, barbecue, manly, art',
  site: 'The Manly Art of BBQ'
%>

<div class="full-hero-div">
  <%= image_tag "tablecloth.jpg", class: "full-hero-img" %>
  <div class="overlap-full-image">

    <div class="row" style="height: 150px"></div>

    <div class="container text-center">
      <div class="hover-well">
        <%= image_tag @product.product_image.url, width: '200px' %>

        <h2><%= @product.name %></h2>

        <p><%= @product.short_description %></p>

        <%= form_for @order_item, remote: true do |f| %>
          <h4>
            <strong>Quantity: </strong>
            <%= f.number_field :quantity, value: 1, class: "form-control", style: "width: 50px; display: inline-block", min: 1 %>
          </h4>
          <% if @product.has_size %>
            <%= f.select :size, @product.size_options.split(",") %>
          <% end %>
          <%= f.hidden_field :product_id, value: @product.id %>
          <h4><strong><%= number_to_currency @product.price %></strong></h4>
          <%= f.submit "Add to Cart", class: "btn btn-manly add_to_cart", style: "margin: 0" %>
        <% end %>
      </div> <!-- hover well -->
      <p><%= link_to "Back to list", products_path, class: "btn btn-ghost black" %></p>
    </div> <!-- page container -->
  </div> <!-- overlap-full-image -->
</div> <!-- full hero div -->

<%= render 'layouts/footer' %>
